<div class="bg-gray-950 rounded-t-3xl text-white py-16">
    <div class="px-16 mb-10">
      <div class="flex justify-between items-start">
        <div class="w-1/2">
          <h2 class="text-3xl font-bold">Is Realio right for you?</h2>
        </div>
        <div class="w-1/2">
          <p class="text-2xl leading-relaxed mb-4">
            Join our community of buyers and sellers who are shaping the future of
            real estate. Create an account today and start managing your property
            journey with convenience and control.
          </p>
          <div class="flex space-x-4">
            <button
              (click)="navigateToRegister()"
              class="px-6 py-2 bg-primary-white text-primary-black font-medium rounded-md border border-gray-300 relative z-10"
            >
              Create an account
            </button>
            <button
              (click)="navigateToLogin()"
              class="bg-transparent text-primary-white font-medium py-2 px-6 rounded-md border border-primary-white hover:bg-gray-800 hover:text-gray-200"
            >
              Log In
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="font-general-bold flex justify-center items-center relative">
      <h1
        class="desktop:text-30xl mb-0 p-0 font-bold text-primary-white opacity-30 leading-none block mobile:text-8xl tablet:text-20xl"
      >
        REALIO
      </h1>
    </div>
  
    <div class="flex justify-between items-center mt-6 px-16 relative z-20">
      <div class="flex space-x-10">
        <button
          (click)="navigateToHome()"
          class="font-medium text-lg hover:underline"
        >
          About
        </button>
        <button
          (click)="navigateToExplore()"
          class="font-medium text-lg hover:underline"
        >
          Explore
        </button>
        <button
          (click)="navigateToSearch()"
          class="font-medium text-lg hover:underline"
        >
          Search
        </button>
      </div>
      <p class="text-sm text-primary-white font-switzer-medium">
        &copy;2024. All rights reserved
      </p>
    </div>
  </div>
