<ng-container *ngIf="!authService.getAuthToken(); else loggedInView">
  <div class="bg-gray-950 rounded-t-3xl text-primary-white py-16 overflow-hidden">
    <div class="desktop:px-16 mb-10">
      <div class="desktop:flex justify-between items-start">
        <div class="desktop:w-1/2 mobile:mx-4 desktop:mx-0">
          <h2 class="text-3xl font-bold">Is Realio right for you?</h2>
        </div>
        <div class="desktop:w-1/2 mobile:mx-4 desktop:mx-0">
          <p class="desktop:text-2xl mobile:text-lg leading-relaxed mb-4 mobile:mt-10 desktop:mt-0">
            Join our community of buyers and sellers who are shaping the future of
            real estate. Create an account today and start managing your property
            journey with convenience and control.
          </p>
          <div class="flex space-x-4 mobile:mt-10 desktop:mt-0">
            <button
              (click)="navigateToRegister()"
              class="px-6 py-2 bg-primary-white text-primary-black font-medium rounded-md border border-gray-300 relative z-10"
            >
              Create an account
            </button>
            <button
              (click)="navigateToLogin()"
              class="bg-transparent text-primary-white font-medium py-2 px-6 rounded-md border border-primary-white hover:bg-gray-800 hover:text-gray-200"
            >
              Log In
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="font-general-bold flex justify-center items-center relative">
      <h1
        class="desktop:text-30xl mb-0 p-0 font-bold text-primary-white opacity-30 leading-none block mobile:text-8xl tablet:text-20xl"
      >
        REALIO
      </h1>
    </div>
  
    <div class="flex justify-between items-center mt-6 px-16 relative z-20">
      <div class="flex space-x-10">
        <button
          (click)="navigateToHome()"
          class="font-medium text-lg hover:underline"
        >
          About
        </button>
        <button
          (click)="navigateToExplore()"
          class="font-medium text-lg hover:underline"
        >
          Explore
        </button>
        <button
          (click)="navigateToSearch()"
          class="font-medium text-lg hover:underline"
        >
          Search
        </button>
      </div>
      <p class="text-sm text-primary-white font-switzer-medium">
        &copy;2024. All rights reserved
      </p>
    </div>
  </div>
</ng-container>

<ng-template #loggedInView>
  <!-- Afișare dacă utilizatorul este autentificat -->
  <div class="bg-gray-950 rounded-t-3xl text-primary-white py-16 overflow-hidden">
    <div class="font-general-bold flex justify-center items-center relative">
      <h1
        class="desktop:text-30xl mb-0 p-0 font-bold text-primary-white opacity-30 leading-none block mobile:text-8xl tablet:text-20xl"
      >
        REALIO
      </h1>
    </div>

    <div class="flex justify-between items-center mt-6 px-16 relative z-20 mobile:px-4 mobile:flex-col mobile:items-start">
      <div class="flex space-x-10 mobile:space-x-4 mobile:mb-4 mobile:justify-start mobile:w-full mobile:pl-12">
        <button
          (click)="navigateToHome()"
          class="font-medium text-lg hover:underline"
        >
          About
        </button>
        <button
          (click)="navigateToExplore()"
          class="font-medium text-lg hover:underline"
        >
          Explore
        </button>
        <button
          (click)="navigateToSearch()"
          class="font-medium text-lg hover:underline"
        >
          Search
        </button>
        <button
          (click)="navigateToAccount()"
          class="font-semibold desktop:text-lg hover:underline"
        >
          Account
        </button>
      </div>
      <p class="text-sm text-primary-white font-switzer-medium mobile: pl-12">
        &copy;2024. All rights reserved
      </p>
    </div>
  </div>
</ng-template>
