<div class="properties-container">
  <h1 class="properties-title">Explore</h1>

  <!-- Filters Section -->
  <div class="filters-container">
    <h2 class="filters-title">Filters</h2>
    <!-- Filter Inputs -->
    <div class="filters-inputs-container">
      <label for="type">Type</label>
      <select id="type" [(ngModel)]="filters.Type" (change)="fetchProperties()">
        <option value="">All</option>
        <option value="apartment">Apartment</option>
        <option value="house">House</option>
      </select>

      <label for="price">Price</label>
      <input
        id="price"
        type="number"
        [(ngModel)]="filters.price"
        (change)="fetchProperties()"
        placeholder="Price"
      />

      <label for="nrOfBathrooms">Number of Bathrooms</label>
      <input
        id="nrOfBathrooms"
        type="number"
        [(ngModel)]="filters.nrOfBathrooms"
        (change)="fetchProperties()"
        placeholder="Bathrooms"
      />

      <label for="nrOfBedrooms">Number of Bedrooms</label>
      <input
        id="nrOfBedrooms"
        type="number"
        [(ngModel)]="filters.nrOfBedrooms"
        (change)="fetchProperties()"
        placeholder="Bedrooms"
      />

      <label for="status">Status</label>
      <select
        id="status"
        [(ngModel)]="filters.status"
        (change)="fetchProperties()"
      >
        <option value="">All</option>
        <option value="available">Available</option>
        <option value="sold">Sold</option>
      </select>

      <label for="squareFootage">Square Footage</label>
      <input
        id="squareFootage"
        type="number"
        [(ngModel)]="filters.squareFootage"
        (change)="fetchProperties()"
        placeholder="Square Footage"
      />
    </div>
  </div>

  <!-- Display Paginated Properties -->
  <div *ngIf="properties && properties.length > 0; else noProperties">
    <div class="property-card" *ngFor="let property of properties">
      <div class="property-details">
        <h2 class="property-title">{{ property.title }}</h2>
        <p class="property-address">{{ property.address }}</p>
        <p class="property-type">{{ property.type }}</p>
        <p class="property-price">Price: ${{ property.price | number }}</p>
        <p class="property-square-footage"> Square Footage: {{ property.squareFootage | number }}</p>
        <p class="property-bedrooms">
          Bedrooms: {{ property.numberOfBedrooms }}
        </p>
        <p class="property-bathrooms">
          Bathrooms: {{ property.numberOfBathrooms }}
        </p>
        <p class="property-status">Status: {{ property.status }}</p>
        <p class="property-listing-date">
          Listing Date: {{ property.listingDate | date }}
        </p>
      </div>
    </div>
  </div>

  <ng-template #noProperties>
    <p>No properties available.</p>
  </ng-template>
  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
  <!-- Navigation Buttons -->
  <div class="navigation-buttons">
    <button class="create-property-button" (click)="navigateToCreate()">
      Create Property
    </button>
    <button class="create-property-button" (click)="navigateToDelete()">
      Delete Property
    </button>
    <button class="create-property-button" (click)="navigateToUpdate()">
      Update Property
    </button>
    <button class="get-by-id-property-button" (click)="navigateToGetById()">
      Get Property by ID
    </button>
  </div>
</div>
