/* Container for all properties */
.properties-container {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .properties-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .property-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #eaeaea;
  }
  
  .property-details {
    padding: 20px;
  }
  
  .property-address {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .property-type,
  .property-price,
  .property-bedrooms,
  .property-bathrooms,
  .property-description,
  .property-status,
  .property-listing-date {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .create-property-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .create-property-button:hover {
    background-color: #0056b3;
  }
  .get-by-id-property-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  .get-by-id-property-button:hover {
    background-color: #0056b3;
  }