/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f6f6f6;
    --font-color: #181818;
}

body {
    overflow-x: hidden;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--font-color);
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/fonts/GeneralSans/GeneralSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'General Sans Regular';
    src: url('/fonts/GeneralSans/GeneralSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'General Sans Light';
    src: url('/fonts/GeneralSans/GeneralSans-Light.otf') format('opentype');
}


@font-face {
    font-family: 'General Sans ExtraLight';
    src: url('/fonts/GeneralSans/GeneralSans-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'General Sans Medium';
    src: url('/fonts/GeneralSans/GeneralSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'General Sans SemiBold';
    src: url('/fonts/GeneralSans/GeneralSans-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer Regular';
    src: url('/fonts/Switzer/Switzer-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer Light';
    src: url('/fonts/Switzer/Switzer-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer Bold';
    src: url('/fonts/Switzer/Switzer-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer Medium';
    src: url('/fonts/Switzer/Switzer-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer SemiBold';
    src: url('/fonts/Switzer/Switzer-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer ExtraLight';
    src: url('/fonts/Switzer/Switzer-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer ExtraBold';
    src: url('/fonts/Switzer/Switzer-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Switzer Black';
    src: url('/fonts/Switzer/Switzer-Black.otf') format('opentype');
}


